.location {
    padding-top: vw(120);
    ul {
        list-style-type: none;
    }
    &__top {
        text-align: center;
    }
    &__map {
        position: relative;
        .map {
            height: vw(540);
        }
    }
    &-modal {
        position: absolute;
        right: vw(40);
        bottom: vw(40);
        padding: vw(55);
        background-color: $bg-white;
        img {
            margin-right: vw(36);
            width: vw(20);
            height: vw(20);
        }
        &__item {
            @include font (vw(13), 700, vw(25));
            display: flex;
            align-items: center;
            margin-bottom: vw(25);
            color: $text-GrayBlue60;
            &:last-child {
                align-items: flex-start;
                margin-bottom: 0;
                span:first-child {
                    color: $text-GrayBlue85;
                }
            }
            span+span {
                margin-left: vw(15);
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .location {
        .map {
            height: vmin(270);
        }
        &-modal {
            right: vmin(20);
            bottom: vmin(20);
            padding: vmin(27.2);
            img {
                margin-right: vmin(18);
                width: vmin(10);
                height: vmin(10);
            }
            &__item {
                @include font (vmin(6.5), 700, vmin(12.5));
                margin-bottom: vmin(12.5);
                span+span {
                    margin-left: vmin(15);
                }
            }
        }
    }
}