    .header {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        padding-top: vh(68);
        &__row {
            display: flex;
            align-items: center;
        }
    }
    
    .burger {
        margin-right: vw(40);
        span {
            position: relative;
            display: inline-block;
            width: vw(18);
            height: vw(2);
            border-radius: vw(3);
            background-color: $bg-white;
            &::before,
            &::after {
                content: '';
                position: absolute;
                transform: translateY(vw(-5));
                width: 100%;
                height: 100%;
                background-color: inherit;
            }
            &::after {
                transform: translateY(vw(5));
            }
        }
    }
    
    .logo {
        @include font(vw(20), 700, vh(30));
        color: $text-white;
        margin-right: vw(115);
    }
    
    .search {
        display: flex;
        align-items: center;
        margin-right: vw(50);
        svg {
            width: vw(18);
        }
        input {
            @include font(vw(14), 600, vh(30));
            margin-left: vw(26);
            color: $text-white;
            background-color: transparent;
            border: none;
        }
    }
    
    .nav {
        &__list {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        &__item {
            margin-right: vw(34);
            &:last-child {
                margin-right: 0;
            }
        }
        &__link {
            @include font(vw(13), 700, vh(25));
            text-decoration: none;
            color: $text-white;
        }
    }
    
    .call {
        @include font(vw(13), 700, vh(25));
        margin-left: vw(195);
        text-decoration: none;
        color: $text-white;
        white-space: nowrap;
    }
    
    .header {
        @include mobile {
            padding-top: vmin(10);
            &__row {
                justify-content: space-between;
                flex-direction: row-reverse;
            }
            .nav,
            .call {
                display: none;
            }
            .burger {
                span {
                    width: vmin(18);
                    height: vmin(2);
                    min-width: 18px;
                    min-height: 2px;
                    border-radius: vmin(3);
                    &::before,
                    &::after {
                        transform: translateY(vmin(-5));
                    }
                    &::after {
                        transform: translateY(vmin(5));
                    }
                }
            }
            .logo {
                @include font(vmin(20), 700, vmin(30));
                margin-right: vmin(115);
            }
            .search {
                display: none;
            }
        }
    }