$bg-white: #ffffff;
$text-white: #ffffff;
$text-GrayBlue50: #4D5E80;
$text-GrayBlue60:#6B7A99;
$text-GrayBlue70: #7D8FB3;
$text-GrayBlue85: #C3CAD9;
$link-background: rgba(230, 46, 123, 0.1);
$link-text: #E62E7B;
$bg-body: #e5e5e5;
$bg-pink:#E62E7B;
$border-color:#f5f6f7;
$text-orange:#ff6633;
$bg-light-orange:rgba(255, 102, 51, 0.1);